## @file
# GitHub CODEOWNERS file
#
# Copyright (c) 2020, Intel Corporation. All rights reserved.<BR>
# SPDX-License-Identifier: BSD-2-Clause-Patent
##

/.azurepipelines/         michael.d.kinney@intel.com

/.github/                 michael.d.kinney@intel.com
/.github/                 sumana.venur@intel.com

/.mergify/                michael.d.kinney@intel.com
/.mergify/                erik.c.bjorge@intel.com

/.pytools/                erik.c.bjorge@intel.com

/FmpDevicePkg/            michael.d.kinney@intel.com

/MdePkg/                  michael.d.kinney@intel.com

/UnitTestFrameworkPkg/    michael.d.kinney@intel.com
/UnitTestFrameworkPkg/    sumana.venur@intel.com

/IntelFsp2Pkg/            nathaniel.l.desimone@intel.com
/IntelFsp2WrapperPkg/     nathaniel.l.desimone@intel.com

/BaseTools/               erik.c.bjorge@intel.com
/BaseTools/               nathaniel.l.desimone@intel.com
